.header{
    height: 5%;
    width: 90%;
}
.left{
    margin-left: 15px;
    padding: 5px;
    margin: 0 5px;
    float: left;
}
.right{
    position: relative;
    left: 0;
    margin-right: 20px;
    float: right;
    padding: 5px;
}
.body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #737373;
    background-color: rgb(255, 255, 255);
}

ul{
    position: relative;
  list-style-type: none;
  margin: 13px 0px;
  padding: 0;
  overflow: hidden;
}

.material-icons{
    position: absolute;
    top: 13px;
    left: 89%;
}
#login{
    position: absolute;
    top: 10px;
    left: 93%;
    background-color: #4285f4;
    font-weight: bold;
    outline: none;
    color: white;
    border: 1px solid #4285f4;
    border-radius: 3px;
    height: 33px;
    padding: 3px 12px;
}
.img {
    text-align: center;
    margin-top: 13%;
    margin-bottom: 2%;
}
#google{
    aspect-ratio: auto 272/92;
    height: 92px;
    width: 272px;
    
}
.bar{
    text-align: center;
    border: black;
    border-width: ;
    border-radius: 20px;
}

.search{
    border-radius: 15px;
    height: 20px;
    
}

.butts{
    text-align: center;
    
}

.button{
    text-align: center;
    color: #5F6368;
    background-color: #f2f2f2;
    font-size: 14px;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    border-style: none;
    height: 36px;
    min-width: 54px;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
}
.link{
    display: block;
    color: #737373;
    text-decoration-line: none;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.apps{
    float: right;
}

.footer{
    background-color: #f2f2f2;
    display:block;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 47px;
}